<!-- CHEMIN : src/app/app.component.html -->

<ng-container *ngIf="!isLoginRoute(); else authOnly">
  <mat-toolbar class="app-toolbar" color="primary">
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="toolbar-title">Mon Agent Conversationnel</span>
    <span class="spacer"></span>
    <button class="custom-logout-btn" (click)="logout()">
      <mat-icon class="logout-icon">logout</mat-icon>
      Déconnexion
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="app-container">
    <!-- ✅ CORRECTION : On définit la largeur directement ici. -->
    <mat-sidenav #sidenav mode="side" opened [style.width.px]="260">
      <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content class="app-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>

<ng-template #authOnly>
  <router-outlet></router-outlet>
</ng-template>